header {
  font-family: "Noto Serif Display", serif;
  width: 100%;
  height: auto;
  text-align: center;
}

#logo {
  font-size: 32px;
  padding: 20px;
}

#links {
  margin: auto;
  padding: 10px 0 10px 0;
  width: 80%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  align-items: center;
}

header a {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  color: black;
}

header a:hover {
  transition: 0.3s;
  background: #d9d9d9;
}

header a:active {
  transition: 0.4s;
  background: #999999;
}
